name: Serenity API Automation

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  serenity-tests:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      checks: write
      pull-requests: write

    steps:
      - name: Checkout del código
        uses: actions/checkout@v4

      - name: Configurar Java 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'
          cache: maven

      - name: Ejecutar pruebas Serenity
        run: mvn clean verify
        continue-on-error: true 

      - name: Generar Check de Resultados ✅❌
        uses: dorny/test-reporter@v1
        if: always()
        with:
          name: Reporte Detallado de Tests
          path: '**/target/*-reports/*.xml' 
          reporter: java-junit

      - name: Publicar reporte HTML Serenity
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: serenity-report
          path: target/site/serenity
